@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
  --primary-color: #3F37C9;
  --primary-dark: #0D1117;
  --dark-grey: #374151;
  --off-grey: #B7B7A4;
  --off-white: #F3F4F6;
  --white: #FFFFFF;
}

.App {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  padding: 0.1rem 0;
  margin: 0;
  background-color: var(--primary-color);
}

.navBullet {
  display: inline-block;
  font-weight: 900;
  padding: 1rem;
}

.navLink {
  color: var(--off-white);
  text-decoration: none;
}