@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
  --primary-color: #3F37C9;
  --primary-dark: #0D1117;
  --dark-grey: #374151;
  --off-grey: #B7B7A4;
  --off-white: #F3F4F6;
  --white: #FFFFFF;
}

.App {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  width: 100%;
  margin: 0;
  background-color: var(--primary-color);
}

.navbarAbsolute {
  width: 50%;
  margin: auto;
  margin-top: 0.5rem;
  background-color: var(--primary-color);
  position: absolute;
}

.navBullets {
  margin: 0 -1rem;
}

.navBullet {
  color: var(--off-white);
  display: inline-block;
  font-weight: 900;
  padding: 1rem;
}

.navLink {
  color: inherit;
  text-decoration: none;
}

.navBtn {
  cursor: pointer;
  background-color: inherit;
  border: none;
  color: inherit;
  font-weight: 500;
  font-size: medium;
}

.displayHidden {
  display: none;
}